{% extends '@!EasyAdmin/layout.html.twig' %}

{% block page_title 'Kokpit' %}

{% block main %}
<div class="dashboard-banner" style="background: url('https://images.unsplash.com/photo-1703880258785-45bc4492a912?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; background-size: cover; color: white; text-align: center; padding: 50px 0;">
    <h1>Ahoj! witaj w kokpicie w kt贸rym stworzysz stron marze!</h1>
    <p>Personalizuj i zarzdzaj swoj stron efektywnie.</p>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">Cze! </h1>
                <p class="lead">Stworzysz tutaj zawarto dla swojej strony, portfolio, wizyt贸wki czego tylko zechcesz!</p>
                <quote>
                    Jedyne ograniczenie to wyobraznia a jezeli jednak Twoja wyobraznia wykracza poza mozliwosci tej strony, nic straconego, odezwij sie a wprowadzimy to o czym marzysz.
                </quote>
                <hr class="my-4">
                {% if new_messages_count > 0 %}
                    <a href="?crudAction=index&crudControllerFqcn=App%5CInfrastructure%5CAdmin%5CContact%5CContactCrudController">
                        <div class="alert alert-warning" role="alert">
                            <b>{{ new_messages_count }}</b> Nowych wiadomoci
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <canvas id="countChart" width="400" height="200"></canvas>

            <script>
                var ctx = document.getElementById('countChart').getContext('2d');

                var data = {
                    labels: ['Zdj', 'Wiadomoci', 'Projekt贸w'],
                    datasets: [{
                        label: 'Statystyka',
                        data: [{{ images_count }}, {{ messages_count }}, {{ projects_count }}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                };

                var countChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col-md-6">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <canvas id="messagesChart" width="400" height="200"></canvas>

            <script>
                var ctx2 = document.getElementById('messagesChart').getContext('2d');

                var data2 = {
                    labels: ['Wiadomoci z odpowiedzi', 'Wiadomoci bez odpowiedzi'],
                    datasets: [{
                        label: 'Statystyka wiadomoci',
                        data: [{{ answered_messages_count }}, {{ new_messages_count }}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                };
                var messagesChart = new Chart(ctx2, {
                    type: 'pie',
                    data: data2
                });
            </script>
        </div>
        <div class="col-md-6">
            <div class="row mt-5">
                <div class="col text-center">
                    <h6 class="display-8">Jeli nie wiesz jak zacz nie przejmuj sie, kliknij w ponizszy przycisk, znajduje sie tam plik pdf, w ktorym poprowadze krok po kroku</h6>
                    <a href="https://localhost:8080/assets/docs/doc.pdf" class="btn btn-primary" target="_blank">Dokumentacja</a>
                    <hr class="my-4">
                    <p>
                        Warstwa frontendowa jest osobnym moduem dostpnym pod tym adresem <a href="https://github.com/Przemekhasz">Przemekhasz</a>
                    </p>
                </div>
            </div>

            <hr class="my-4">

            <!-- Author and Feedback Section -->
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <h2>Autor i Kontakt</h2>
                    <p>Tw贸rc i opiekunem tej aplikacji jest <strong>Przemysaw Tarapacki Przemekhasz</strong>. Wszelkie uwagi, pytania oraz pomysy na rozw贸j mo偶na zgasza na poni偶szy adres email:</p>
                    <a href="mailto:tarapackiprzemek45@gmail.com">tarapackiprzemek45@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
